# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement 
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### e_commerce Schema:

### Load Required Libraries

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pruthvi\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\pruthvi\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
import pandas as pd

### Connect to DB using Mysql-connector-python package

In [3]:
conn=mysql.connector.connect(host='localhost',
                                  user='root',
                                  password='admin')
cursor=conn.cursor()

### You are required to create a database named 'e_commerce'

In [4]:
cursor.execute("CREATE DATABASE e_commerce")

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [5]:
conn=mysql.connector.connect(host='localhost',
                                  user='root',
                                  password='admin',
                                   database="e_commerce")
eCursor=conn.cursor()
eCursor.execute("CREATE TABLE supplier (SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))")
eCursor.execute("CREATE TABLE customer (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))")
eCursor.execute("CREATE TABLE category (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))")
eCursor.execute("CREATE TABLE product (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))")
eCursor.execute("CREATE TABLE product_details (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL, PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))")
eCursor.execute("CREATE TABLE orders (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))")
eCursor.execute("CREATE TABLE rating (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))")

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- | 
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 | 
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

#### Table:  category
| CAT_ID | CAT_NAME | 
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES | 
| 4 | ELECTRONICS | 
| 5 | CLOTHES |

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- | 
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 | 
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- | 
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 | 
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- | 
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 | 
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [6]:
# insert into "supplier" table

eCursor.execute("INSERT INTO supplier (SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE) VALUES(1,'Rajesh Retails','Delhi','1234567890')")
eCursor.execute("INSERT INTO supplier (SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE) VALUES(2,'Appario Ltd.','Mumbai','2589631470')")
eCursor.execute("INSERT INTO supplier (SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE) VALUES(3,'Knome products','Bangalore','9785462315')")
eCursor.execute("INSERT INTO supplier (SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE) VALUES(4,'Bansai Retails','Kochi','8975463285')")
eCursor.execute("INSERT INTO supplier (SUPP_ID,SUPP_NAME,SUPP_CITY,SUPP_PHONE) VALUES(5,'Mittal Ltd.','Lucknow','7898565321')")

# insert into "customer" table
eCursor.execute("INSERT INTO customer VALUES (1, 'AAKASH','9999999999','DELHI','M')")
eCursor.execute("INSERT INTO customer VALUES (2, 'AMAN','9785463215','NOIDA','M')")
eCursor.execute("INSERT INTO customer VALUES (3, 'NEHA','9999999998','MUMBAI','F')")
eCursor.execute("INSERT INTO customer VALUES (4, 'MEGHA','9994562399','KOLKATA','F')")
eCursor.execute("INSERT INTO customer VALUES (5, 'PULKIT','7895999999','LUCKNOW','M')")

# insert into "categoty" table
eCursor.execute("INSERT INTO category VALUES(1,'BOOKS')")
eCursor.execute("INSERT INTO category VALUES(2,'GAMES')")
eCursor.execute("INSERT INTO category VALUES(3,'GROCERIES')")
eCursor.execute("INSERT INTO category VALUES(4,'ELECTRONICS')")
eCursor.execute("INSERT INTO category VALUES(5,'CLOTHES')")

# insert into "product" table
eCursor.execute("INSERT INTO product VALUES(1,'GTA V','DFJDJFDJFDJF',2)")
eCursor.execute("INSERT INTO product VALUES(2,'TSHIRT','DFJDJFKFD',5)")
eCursor.execute("INSERT INTO product VALUES(3,'ROG LAPTOP','DFNTTNTNTERND',4)")
eCursor.execute("INSERT INTO product VALUES(4,'OATS','RUERENTBTOTH',3)")
eCursor.execute("INSERT INTO product VALUES(5,'HARRY POTTER','NBEMCTHTJTH',1)")


eCursor.execute("INSERT INTO product_details VALUES(1,1,2,1500)")
eCursor.execute("INSERT INTO product_details VALUES(2,3,5,30000)")
eCursor.execute("INSERT INTO product_details VALUES(3,5,1,3000)")
eCursor.execute("INSERT INTO product_details VALUES(4,2,3,2500)")
eCursor.execute("INSERT INTO product_details VALUES(5,4,1,1000)")

# insert into "orders" table

eCursor.execute("INSERT INTO orders VALUES (20,1500,'2021-10-12',3,5)")
eCursor.execute("INSERT INTO orders VALUES (25,30500,'2021-09-16',5,2)")
eCursor.execute("INSERT INTO orders VALUES (26,2000,'2021-10-05',1,1)")
eCursor.execute("INSERT INTO orders VALUES (30,3500,'2021-08-16',4,3)")
eCursor.execute("INSERT INTO orders VALUES (50,2000,'2021-10-06',2,1)")

# insert into "rating" table

eCursor.execute("INSERT INTO rating VALUES(1,2,2,4)")
eCursor.execute("INSERT INTO rating VALUES(2,3,4,3)")
eCursor.execute("INSERT INTO rating VALUES(3,5,1,5)")
eCursor.execute("INSERT INTO rating VALUES(4,1,3,2)")
eCursor.execute("INSERT INTO rating VALUES(5,4,5,4)")

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [7]:
query = """
SELECT c.CUS_GENDER, COUNT(DISTINCT o.CUS_ID)
FROM customer c
JOIN `orders` o ON c.CUS_ID = o.CUS_ID
WHERE o.ORD_AMOUNT >= 3000
GROUP BY c.CUS_GENDER;
"""
result=pd.read_sql(query, conn)
print(result)

  CUS_GENDER  COUNT(DISTINCT o.CUS_ID)
0          F                         1
1          M                         1

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\1023865536.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query, conn)

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [8]:

query = """
SELECT o.ORD_ID, p.PRO_NAME, o.ORD_AMOUNT, o.ORD_DATE 
        FROM orders o
        JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
        JOIN product p ON pd.PRO_ID = p.PRO_ID
        WHERE o.CUS_ID = 2;
"""
result=pd.read_sql(query,conn)
print(result)

   ORD_ID PRO_NAME  ORD_AMOUNT    ORD_DATE
0      50    GTA V        2000  2021-10-06

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\964488163.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query,conn)

### Q5) Display the Supplier details who can supply more than one product.

In [9]:

query = "SELECT SUPPLIER.SUPP_ID, SUPPLIER.SUPP_NAME, SUPPLIER.SUPP_CITY, SUPPLIER.SUPP_PHONE " \
        "FROM SUPPLIER " \
        "INNER JOIN PRODUCT_DETAILS ON SUPPLIER.SUPP_ID = PRODUCT_DETAILS.SUPP_ID " \
        "GROUP BY SUPPLIER.SUPP_ID " \
        "HAVING COUNT(DISTINCT PRODUCT_DETAILS.PRO_ID) > 1"
result=pd.read_sql(query,conn)
print(result)

   SUPP_ID       SUPP_NAME SUPP_CITY  SUPP_PHONE
0        1  Rajesh Retails     Delhi  1234567890

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\2966986219.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query,conn)

### Q6) Find the category of the product whose order amount is minimum.

In [12]:
cursor = conn.cursor()
cursor.execute("""
    SELECT c.CAT_NAME FROM category c WHERE
    c.CAT_ID=(SELECT p.CAT_ID
    FROM product p
    JOIN product_details pd ON p.PRO_ID = pd.PRO_ID
    JOIN orders o ON pd.PROD_ID = o.PROD_ID
    WHERE o.ORD_AMOUNT = (SELECT MIN(ORD_AMOUNT) FROM orders)
    LIMIT 1)
""")

# Fetch the result
result = cursor.fetchone()

# Print the category ID of the product whose order amount is minimum
if result:
    print(f"Category Name: {result[0]}")
else:
    print("No result found")

Category Name: GROCERIES

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [13]:

query = '''
SELECT p.PRO_ID, p.PRO_NAME
FROM product p
INNER JOIN product_details pd ON p.PRO_ID = pd.PRO_ID
INNER JOIN orders o ON pd.PROD_ID = o.PROD_ID
WHERE o.ORD_DATE > '2021-10-05'
'''
result=pd.read_sql(query,conn)
print(result)

   PRO_ID PRO_NAME
0       4     OATS
1       1    GTA V

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\1636597413.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query,conn)

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [14]:
query = '''
SELECT s.SUPP_ID, s.SUPP_NAME, r.RAT_RATSTARS, c.CUS_NAME
    FROM supplier s
    INNER JOIN rating r ON s.SUPP_ID = r.SUPP_ID
    INNER JOIN customer c ON r.CUS_ID = c.CUS_ID
    ORDER BY r.RAT_RATSTARS DESC
    LIMIT 3
'''
result=pd.read_sql(query,conn)
print(result)

   SUPP_ID       SUPP_NAME  RAT_RATSTARS CUS_NAME
0        1  Rajesh Retails             5   PULKIT
1        2    Appario Ltd.             4     AMAN
2        5     Mittal Ltd.             4    MEGHA

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\189963148.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query,conn)

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [15]:
query = '''
SELECT CUS_NAME, CUS_GENDER FROM customer WHERE CUS_NAME LIKE 'A%' OR CUS_NAME LIKE '%A'
'''
result=pd.read_sql(query,conn)
print(result)

  CUS_NAME CUS_GENDER
0   AAKASH          M
1     AMAN          M
2     NEHA          F
3    MEGHA          F

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\2577054608.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query,conn)

### Q10) Display the total order amount of the male customers.

In [16]:
cursor = conn.cursor()
cursor.execute('''
SELECT SUM(o.ORD_AMOUNT) as total_order_amount
                        FROM customer c
                        INNER JOIN orders o ON c.CUS_ID = o.CUS_ID
                        WHERE c.CUS_GENDER = 'M'
''')
result = cursor.fetchone()
if result:
    print(f"Sum: {result[0]}")
else:
    print("No result found")

Sum: 34500

### Q11) Display all the Customers left outer join with  the orders

In [17]:
query = '''
            SELECT *
           FROM customer
           LEFT OUTER JOIN orders
           ON customer.CUS_ID = orders.CUS_ID
'''
result=pd.read_sql(query,conn)
print(result)

   CUS_ID CUS_NAME   CUS_PHONE CUS_CITY CUS_GENDER  ORD_ID  ORD_AMOUNT  \
0       1   AAKASH  9999999999    DELHI          M      26        2000
1       2     AMAN  9785463215    NOIDA          M      50        2000
2       3     NEHA  9999999998   MUMBAI          F      20        1500
3       4    MEGHA  9994562399  KOLKATA          F      30        3500
4       5   PULKIT  7895999999  LUCKNOW          M      25       30500

     ORD_DATE  CUS_ID  PROD_ID
0  2021-10-05       1        1
1  2021-10-06       2        1
2  2021-10-12       3        5
3  2021-08-16       4        3
4  2021-09-16       5        2

C:\Users\Pruthvi\AppData\Local\Temp\ipykernel_6668\2504737947.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result=pd.read_sql(query,conn)

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)